@keyframes logo-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);  
    }
  }
  
  .animate-logo-carousel {
    animation: logo-carousel 20s linear infinite;
  }